* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  font-family: Public Sans;
}
body {
  background-color: #4e4b5c;
  background-repeat: no-repeat;
  background-size: cover;
}
.phoneHeader {
  display: none;
}
.phoneFilter {
  display: none;
}
.blackBar {
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
  gap: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: black;
  color: aliceblue;
}
.categoryDropDown {
  text-align: center;
  align-items: center;
}
.categoryDropDown {
  height: 1.5rem;
  width: 7rem;
  background-color: aliceblue;
  margin: 1rem;
  text-align: center;
}
.inputBars {
  display: block;
}
.searchBar {
  border-radius: 00.25rem;
}
.shoppigCart {
  padding-left: 20vw;
}
.product .productMenu {
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
  gap: 5vw;
  padding-top: 2vh;
  background-color: white;
  color: grey;
}
.categoriesHeader {
  color: white;
}
.container {
  display: block;
}
.Categories {
  width: 100%;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.productsGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  column-gap: 5vw;
  background: rgba(248, 248, 248, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: ghostwhite;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.description {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  color: white;
  text-align: center;
  column-gap: 5vw;
  background: rgba(248, 248, 248, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.descriptionBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Signika;
  /* background-color: red; */
}
.descriptionButton {
  margin-top: 2rem;
  width: 6rem;
  font-family: Signika;
  height: 2rem;
  border-radius: 0.25rem;
}
.descriptionButton:hover {
  background-color: black;
  scale: 1.2;
  transition: 0.5s;
  color: whitesmoke;
}
.addToCart {
  display: none;
  background-color: black;
  border-bottom-right-radius: 1rem;
  color: orange;
  border-style: none;
  margin-top: auto;
  padding: 1vh;
}

.miProducts {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 15vw;
  min-height: 45vh;
  max-width: 20vw;
  max-height: 45vh;
  background: rgba(189, 173, 234, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  height: fit-content;
  margin-top: 3vh;
  border-radius: 1rem;
}
.miProducts:hover > .addToCart {
  display: block;
}
.imageBox {
  display: flex;
  justify-content: center;
  min-height: 20vh;
  max-height: 20vh;
  background-color: gray;
  height: fit-content;
  border-radius: 1rem;
  overflow-y: hidden;
}

.productName {
  overflow-y: hidden;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: max-content;
}
.rating {
  display: flex;
  padding-top: 1vh;
  height: 4vh;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  background: rgba(189, 173, 234, 0);
  border-style: none;
}
.productDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 4vh;
  margin-top: 1vh;
  padding-bottom: 1vh;
}

.productPrice {
  padding-bottom: 2vh;
  margin-top: 2vh;
  overflow-y: hidden;
}
.productImages {
  border-radius: 0.5rem;
  min-height: 21vh;
  width: 100%;
}
.miProducts:hover {
  scale: 1.12;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #4e4b5c;
}
.footerList {
  display: flex;
  justify-content: center;
  padding-left: 5vw;
  gap: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 30vh;
  background-color: black;
  color: aliceblue;
}
.socialMedia {
  display: none;
}
.deskTopLogos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2vw;
}
.desktopContent {
  display: block;
}
@media only screen and (max-width: 550px) {
  body {
    background-color: #4e4b5c;
  }
  .blackBar {
    display: none;
  }
  .phoneHeader {
    display: flex;
    gap: 20vw;
    justify-content: flex-start;
    padding-left: 5vw;
    align-items: center;
    background-color: gray;
    font-size: 1.5rem;
  }
  .phoneFilter {
    margin-top: 2vh;
    justify-content: center;
    display: flex;
    font-size: larger;
    align-items: center;
    height: 5vh;
    background: #180c3a;
    box-shadow: 0 8px 32px 0 rgba(2, 3, 17, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .product {
    display: none;
  }
  .productsGrid {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    column-gap: 1vw;
  }

  .miProducts {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-repeat: no-repeat;
    justify-content: center;
    width: 90vw;
    background-color: gray;
    height: fit-content;
    margin-top: 5vh;
    min-height: 50vh;
    max-height: 50vh;
    max-width: 80vw;
    background: rgba(189, 173, 234, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
  }
  .miProducts:hover {
    scale: 1.15;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .description {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    color: ghostwhite;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    column-gap: 1vw;
  }
  .footerList {
    display: block;
    justify-content: center;
    text-align: center;
    height: 35vh;
    background-color: gray;
    color: black;
  }
  .footerList li {
    padding-top: 4vh;
    text-align: center;
  }
  .socialMedia {
    display: block;
  }
  .logos {
    display: flex;
    justify-content: center;
  }
  .socialMediaLogos {
    scale: 0.8;
  }
  .deskTopLogos {
    display: none;
  }
  .desktopContact {
    display: none;
  }
}
